.idea/
.idea/workspace.xml
sites/*
etc/nginx/*
!etc/nginx/default*
mysql/*
postgres/*
logs/*
Ssl/*
mongo/*
pgadmin/*
logs/access.log
logs/error.log
.env
httpd/sites-enabled/*
global/hosts
global/ip
docker-compose.yml
/global/dockerip
rabbitmq_data/*
elastic_graylog_data/*
elasticsearch_data/*
arangodb_data_container/*
arangodb_apps_data_container/*
.idea/workspace.xml
.idea